ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a{ color: inherit;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
margin-top: 0;
margin-bottom: 0;
}
img{display: block;}

body {
    font-family:'Roboto', sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}
.container{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
/* ============================HEADER STYLES=================  */
.header{border-bottom: 1px solid #e7e9fc; 
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}
.page-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76;
margin-right: 76px;
}
.header-container{
    display: flex;
    justify-content: space-between;
  
  
}
.container-nav{
display: flex;
align-items: center;
}
.container-item{display: flex; gap: 40px;}
.container-address{
   display: flex; gap: 24px;
}
.text-color {color: #2e2f42;}
.menu-link {
    

    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}
.link-stady{position: relative; color: #404bbf;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.link-stady::after{
    content: '';
    width: 100%;
    position: absolute; 
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf; 
    border-radius: 2px;

   
}
.menu-list:hover,
.menu-list:focus {
    color: #404bbf;
}

.nav-address{background-color: #FFFFFF;font-style: normal; 
    padding-top: 24px;
    padding-bottom: 24px;}
.nav-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }


.nav-item:hover,
.nav-item:focus {color:#404bbf;}
/* ===================HERO STYLES================= */

.hero{background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg); 
background-repeat: no-repeat;
background-position: center;
background-size: cover; 
background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin: auto;
padding: 188px 0;}
.hero-container
.main-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
}
.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; 
}
button{ display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-family: inherit;
    font-family: inherit;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin: auto;
    margin-top: 50px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}
button:hover,
button:focus{ background-color: #404BBF;
}
/* =====================BENEFITS  STYLES========================== */
.section-benefits{
    padding: 120px 0;
}

.benefits-list{width: calc((100% - 3 * 24px) / 4);}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.item-benefits{
    display: flex;
    gap: 24px;
}
.benefits-icons{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    

}
.item-team-container {display: flex;
gap: 24px;}

.title-benefits-container{margin-bottom: 8px;
   }

.title-benefits{font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}
.text-benefits{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ==============OUR TEAM-============== */
.section-team{
    background-color: #f4f4fd;
    padding: 120px 0;
}
.title-team{font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;

color: #2e2f42;}
.team-container{
    padding: 32px 0;
     
}
.name-team-container{
    text-align: center;
    margin-bottom: 8px;
}
.team-profession-container{
    text-align: center;
}
.team-list{background-color: #FFFFFF;
     box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}
.team-list-container{
  width: calc((100% - 72px) / 4); border-radius: 0px 0px 4px 4px;
}
.name-team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-profession{line-height: 1.5;
letter-spacing: 0.02em;
}
.social-item{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-list{
    width: 40px;
    height: 40px;
}
.link-social{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-social:hover,
.link-social:focus{
    background-color: #404bbf;;
}
.social-icons {fill:  #f4f4fd;}
/* ==========================Our Portfolio STYLES======================== */
.portfolio-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.title-portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.list-portfolio{width: calc((100% - 48px) / 3);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.title-portfolio-container{margin-bottom: 72px;}
.item-portfolio{display: flex ;flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px; }
.img-portfolio:hover p { transform: translateY(0%);}

.list-portfolio-container{padding: 32px 16px; border: 1px solid #e7e9fc;
    border-top: none;}


   .img-container{position: relative; 
    overflow: hidden;
}

.text-portfolio-container{position: absolute;
top: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
padding: 40px 32px; 
background-color: #4d5ae5;
height: 100%; 
width: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.text-portfolio-container{position: absolute;
top: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:  #f4f4fd;
padding: 40px 32px;
height: 100%;
width: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.img-portfolio{position: relative;
overflow: hidden;}
.name-portfolio{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}
.text-portfolio
{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

 /*================= FOTTER STYLES================================ */
.footer-container{display: flex;
    align-items: baseline;
   }
 .footer-content{
    background-color: #2e2f42;
    padding: 100px 0;
 }
 .social-media-container{
    margin-right: 120px
 }
 .link-footer{display: inline-block;
margin-bottom: 16px;}
 .text-footer{line-height: 1.5;
    color: #f4f4fd;
letter-spacing: 0.02em;
max-width: 264px;}
.social-media-text{
   gap: 16; 
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;

}
.link-social-footer{

        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius:50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    .link-social-footer:hover,
    .link-social-footer:focus{
        background-color: #31d0aa;
}
.social-item-footer{gap: 16px;
    display: flex;}