ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

a{ color: inherit;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
margin-top: 0;
margin-bottom: 0;
}
img{display: block;}

body {
    font-family:'Roboto', sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}
.container{
    max-width: 1158px;
    padding-left: 15;
    padding-right: 15;
    margin-left: auto;
    margin-right: auto;
    padding: 15;
}
/* ============================HEADER STYLES=================  */
.header{border-bottom: 1px solid #e7e9fc;}
.page-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76;
margin-right: 76px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    padding-top: 24;
    padding-bottom: 24;
    padding: 0 15px;
}
.container-nav{
display: flex;
gap: 40px;
align-items: center;
}
.container-item{display: flex; gap: 40px;}
.container-address{
   display: flex; gap: 24px;
}
.text-color {color: #2e2f42;}
.menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.menu-list:hover,
.menu-list:focus {
    color: #404bbf;
}
.nav-address{background-color: #FFFFFF;font-style: normal; 
    padding-top: 24px;
    padding-bottom: 24px;}
.nav-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    }


.nav-item:hover,
.nav-item:focus {color:#404bbf;}
/* ===================HERO STYLES================= */

.hero{background-color: #2e2f42;
max-width: 1440px;
margin-left: auto;
padding: 188px 0;}
.hero-container
.main-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
}
.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; 
}
button{ display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-family: inherit;
    font-family: inherit;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    

}
button:hover,
button:focus{ background-color: #404BBF;
}
/* =====================BENEFITS  STYLES========================== */
.section-benefits{
    padding: 120px 0;
}

.benefits-list{width: calc((100% - 3 * 24px) / 4);}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.item-benefits{
    display: flex;
    gap: 24px;
}
.item-team-container {display: flex;
gap: 24px;}

.title-benefits-container{margin-bottom: 8px;
    width: calc((100% - 72px) / 4)}

.title-benefits{font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}
.text-benefits{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ==============OUR TEAM-============== */
.section-team{
    background-color: #f4f4fd;
    padding: 120px 0;
}
.title-team{font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;

color: #2e2f42;}
.team-container{
    padding: 32px 0;
     
}
.name-team-container{
    text-align: center;
    margin-bottom: 8px;
}
.team-profession-container{
    text-align: center;
}
.team-list{background-color: #FFFFFF;}
.team-list-container{
  width: calc((100% - 72px) / 4); border-radius: 0px 0px 4px 4px;
}
.name-team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-profession{line-height: 1.5;
letter-spacing: 0.02em;
}
/* ==========================Our Portfolio STYLES======================== */
.portfolio-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.title-portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.list-portfolio{width: calc((100% - 48px) / 3);}
.title-portfolio-container{margin-bottom: 72px;}
.item-portfolio{display: flex ;flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}
.list-portfolio-container{padding: 32px 16px; border: 1px solid #e7e9fc;
    border-top: none;

}
.name-portfolio{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}
.text-portfolio
{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
 /*================= FOTTER STYLES================================ */

 .footer-content{
    background-color: #2e2f42;
    padding: 100px 0;
 }
 .link-footer{display: inline-block;
margin-bottom: 16px;}
 .text-footer{line-height: 1.5;
    color: #f4f4fd;
letter-spacing: 0.02em;
max-width: 264px;}

